<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<div style="background:#f1f1f1;">
  <div style="background:#fafafa;box-shadow:0 6px 3px -5px rgba(0,0,0,0.45);padding:15px;text-align:center;"></div>

<div style="width: 90%; margin: 0 auto;padding:20px 0;">
<table align="center" cellpadding="1" cellspacing="0" style="border-radius: 5px;border:1px solid #ccc; color:#004763;" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#FFF" border="0" cellpadding="5" cellspacing="0" style="font-family: verdana, arial, helvetica;font-size: 12px;" width="100%">
				<tbody>
					<tr>
						<td>
						<table border="0" cellpadding="0" cellspacing="0" style="font-family: verdana, arial, helvetica; font-size: 12px;" width="100%">
							<tbody>
								<tr>
									<th colspan="2" style="text-align:left;background:#5c7a85;color:#fff;padding: 10px;font-size:1.2em;">Reservation Summary</th>
								</tr>
								<tr>
									<td colspan="2">
									<table style="padding-left: 3px" cellpadding="0" cellspacing="0" class="details" style="font-family: verdana, arial, helvetica;" width="100%">
										<tbody>
											<tr>
                        <td  valign="top" width="50%"><br /><br />                        <b>Agency:</b>
                          Sold and Shipped by Step_Up<br />
												<br />
                          <b>Agent:</b>NikeCo<br /><br />
                       
                        <b>Date:</b> {{ todayDate | date:'fullDate' }}
                        </td>
                        <td valign="top" width="50%"><br /><br />
                          <b>Reservation #</b> {{randomNumber}}<br /><br />
                          <b>Price</b> {{price}}
												<br />
												<br />

											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
            <tr>
							<td colspan="2" style="color: #666; padding: 1em; line-height: 1.6em; text-align: center;">
                <strong style="color:#5c7a85">Your order is being processed. You will receive another email as soon as the order has been confirmed.</strong>
              </td>
            </tr>
					<tr>
						<td colspan="2">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="2" style="background: #EEE; color: #666; padding: 1em;line-height: 2.5em; border-top: #CCC 1px dotted; text-align: center;">
                    If you have any questions please email us at <a style="color:#fc5d25" href="mailto:info@orlandoresorts.com">info@shopstepup.com</a>
									or call (352) 241-4976<br />
									Thank you for shopping with <a style="color:#fc5d25" href="http://orlandoresorts.com">Step-Up</a>!</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>