<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>what qualifies as a bestseller can change over time based on market trends, consumer preferences, and other factors.</p>
        </div>
        <div class="row g-4">
            <div  *ngFor="let product of products">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img [src]="product.imageUrl" class="img-fluid rounded-circle w-100" alt=""style="width: 40rem;height: 41rem;">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">{{product.name}}</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">{{product.price}} $</h4>
                            <button class="btn border border-secondary rounded-pill px-3 text-primary" (click)="addToCart(product)">Add to Cart</button>
                           
                        </div>
                    </div>
                </div>
            </div>
             
            
        </div>
    </div>
 </div>