<!-- CONTENT
=================================-->
<div class="container-full-bg" style="background-image: url('https://www.kirkwoodus.com/uploads/6/3/6/8/63680147/6106404_orig.jpg'); height: 30rem; ">
    <div class="container special">
        <div class="jumbotron"><span class="fwbg-title"> </span>
            <div class="headline-container">
                <div class="row">
                    <div class="col-xs-12"><span class="fwbg-callout"> </span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /header container-->
<!-- CONTENT
=================================-->
<div class="container" style="max-width: 1200px;">
    <div class="row">
        <div class="col-xs-12" style="text-align:center; font-size: xxx-large;">
            <h2 >– About Us –</h2></div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="info-text">
                <p>our mission is to redefine the way you experience shoes. We strive to offer a curated collection of high-quality, fashionable, and comfortable footwear that complements your lifestyle. Our goal is to make you feel confident, empowered, and ready to conquer the world, one step at a time.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <div class="col-xs-12">
                <figure class="snip1374"><a href="#"><img src="https://i.pinimg.com/736x/91/2b/73/912b7375246f689e263ed57a437d2ac7.jpg" alt="sample66" /></a></figure>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
                <div class="info-text right">
                    <p>Founded in 2024,this application began with a simple idea: to create a destination where shoe enthusiasts could discover the perfect pair for every occasion. What started as a small initiative has grown into a thriving community of fashion-forward individuals who share our love for exceptional footwear.
                        Our design team is dedicated to staying ahead of the latest fashion trends. From classic essentials to statement pieces, our diverse collection has something for everyone.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-6 col-md-pull-6">
                <div class="col-xs-12 col-sm-12">
                    <figure class="snip1374"><a href="#"><img src="https://wallpaper.dog/large/174543.jpg" alt="sample57" /></a></figure>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr>
    </div>
</div>
